@page "/content"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Entities
@using CMS.Data
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="content/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Contents">
    <PropertyColumn Property="content => content.ContentId" />
    <PropertyColumn Property="content => content.WebPageId" />
    <PropertyColumn Property="content => content.ContentName" />

    <TemplateColumn Context="content">
        <a href="@($"content/edit?contentid={content.ContentId}")">Edit</a> |
        <a href="@($"content/details?contentid={content.ContentId}")">Details</a> |
        <a href="@($"content/delete?contentid={content.ContentId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}