@inherits LayoutComponentBase
@using BlazorBootstrap
@using CMS.Components
@using CMS.Components.BlazorComponents

<div class="page">
    <main>
        <NavBar/>
        <div class="main">
            <article class="content px-4">

                <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
                @Body
            </article>
        </div>
@*         <Footer></Footer> *@
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>