@using BlazorBootstrap
@using CMS.Services
@inject NavigationManager NavigationManager
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject ToastService ToastService


@if (WebPages?.Any() == true)
{
    <div class="webpageinfo">
        <div class="webpage-header">
            <p align="center">Webbsidor</p>
        </div>

        <div class="grid">
            <table class="table table-striped">
                <tbody>
                    @foreach (var webpage in WebPages)
                    {
                        <tr>
                            <td>
                                <a href="/webpages/details?webpageid=@webpage.WebPageId">
                                    @webpage.Title
                                </a>
                            </td>
                            <td class="actions">
                                <div class="d-flex justify-content-between">
                                    @* Visit (webpage) icon *@
                                    <a href="@($"WebPages/previewpage/{webpage.WebPageId}")" title="Besök webbsida" class="me-2">
                                        <i class="material-icons" style="color: blue; font-size: 22px;">language</i>
                                    </a>
                                     @* Edit icon *@
                                    <a href="@($"webpages/edit?webpageid={webpage.WebPageId}")" title="Redigera" class="me-2">
                                        <i class="material-icons" style="color: orange; font-size: 22px;">edit_document</i>
                                    </a>
                                    @* Delete icon *@
                                    <a @onclick="() => DeleteWebpageAsync(webpage)" title="Radera" class="me-2">
                                        <i class="material-icons" style="color: red; cursor: pointer; font-size: 27px;">delete_forever</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<ConfirmDialog @ref="dialog" />

@code {
    [Parameter]
    public int WebSiteId { get; set; }

    List<WebPage>? WebPages = new();
    private ConfirmDialog dialog = default!;
    List<ToastMessage> messages = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        var context = await DbFactory.CreateDbContextAsync();

        WebPages = await context.WebPages
            .Where(wp => wp.WebSiteId == WebSiteId)
            .ToListAsync();
    }

    private async Task DeleteWebpageAsync(WebPage webpage)
    {
        var options = new ConfirmDialogOptions
            {
                YesButtonText = "Ja",
                YesButtonColor = ButtonColor.Success,
                NoButtonText = "Avbryt",
                NoButtonColor = ButtonColor.Danger
            };

        var confirmation = await dialog.ShowAsync(
            title: "Är du säker på att du vill radera webbsidan?",
            message1: $"Titel: {webpage.Title}",
            message2: $"Beskrivning: {webpage.Description}",
            confirmDialogOptions: options);

        if (confirmation)
        {
            using var context = await DbFactory.CreateDbContextAsync();
            var webpageToDelete = await context.WebPages.FindAsync(webpage.WebPageId);

            if (webpageToDelete != null)
            {
                context.WebPages.Remove(webpageToDelete);
                await context.SaveChangesAsync();

                // Show success toast message
                var toastMessage = new ToastMessage(ToastType.Success, "Webbsida raderad", $"Webbsidan '{webpage.Title}' har raderats.");
                messages.Add(toastMessage);
                ToastService.Notify(toastMessage);
            }

            // Refresh WebPages list
            WebPages = await context.WebPages
                .Where(wp => wp.WebSiteId == WebSiteId)
                .ToListAsync();

            StateHasChanged();
        }
    }
}

