<h2 style="
font-weight: 400;
margin-top: 20px;
margin-bottom: 20px;
padding: 0;
word-break: break-word;
font-size: 3rem;
line-height: 3.25rem; 
text-align: center">
    @text
</h2>

@code {

    [Parameter] public string? text { get; set; }

}