.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

/* OTHER STYLES */

footer {
    background-color: #0A142F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .container ul li {
        padding: 10px;
    }

    .container ul a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }


/*.container {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 900px) {
    .container {
        display: block;
    }
}*/

/* OTHER STYLES */

/*footer {*/
    /*   background-color: #0A142F;*/
    /*background-color: #0A142F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.item {
    color: #fff;
    border-radius: 4px;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.container ul {
    list-style: none;
    align-items: first baseline;
}

    .container ul li {
        padding: 10px;
    }

    .container ul a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }*/
