<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="shadow-1-strong d-flex align-items-center justify-content-center pt-4 mb-4 mx-auto" style="width: 150px; height: 150px;">
                    <img src="https://static.wixstatic.com/media/39e339_db3c94e2ab58452bb4ce00dc4ad89063~mv2.png/v1/fill/w_214,h_54,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/zocom_logo.png" height="60" alt=""
                         loading="lazy" />
                </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                <p>
                   @*  <i class=" fa-home me-3"></i> *@
                    Adress 1: Birger Jarlsgatan 58,
                    114 29 Stockholm
                </p>
                <p>
                    @*  <i class=" fa-home me-3"></i> *@
                    Adress 2: Vallgatan 25,
                    411 16  Göteborg
                </p>
                <p>
                    @*  <i class=" fa-home me-3"></i> *@
                    Telefon: 08 45 631 71
                </p>
            </div>
            <!-- Grid column -->
             <AuthorizeView>
                 <NotAuthorized>
                        <div class="col-xs-6 col-md-3">
                            <h6>Snabba Länkar</h6>
                            <ul class="footer-links">
                                <li><a href="#aboutUs">Hur Fungerar det</a></li>
                                <li><a href="#aboutUs">Om Oss</a></li>
                                <li><a href="#payment">PrisModell</a></li>
                                <li><a href="#contact-section">Kontakta Oss</a></li>
                            </ul>
                        </div>
                </NotAuthorized>
             </AuthorizeView>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text pt-2">
                    Copyright &copy; 2024 Hacker Heroes
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/zocom.ab/?locale=sv_SE"><i class="fa fa-facebook"></i></a></li>
@*                     <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> *@
                    <li><a class="linkedin" href="https://www.linkedin.com/company/zocom/posts/?feedView=all"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@* 
<footer style="display: flex;height: auto;">
    <div class="container">
        <div class="item item1" style="align-items: center;">
            <img src="https://static.wixstatic.com/media/39e339_db3c94e2ab58452bb4ce00dc4ad89063~mv2.png/v1/fill/w_214,h_54,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/zocom_logo.png"
                 style="height: 100px;width: auto;">

        </div>
        <div class="item item2" style="align-items: center; font-size: 24px;">
            <h1 style="text-align: center; font-size:x-large; font-family:Arial, Helvetica, sans-serif;">
                Birger Jarlsgatan 58, Stockholm, 11429
            </h1>
        </div>
        <div class="item item3">
            <ul>
                <li>
                    <a href="#about">Om oss</a>
                </li>
                <li>
                    <a href="#Contact">Kontakt</a>
                </li>
                <li>
                    2024 Hacker Heros. Alla rättigheter <br>förbehållna.
                </li>
            </ul>
        </div>
        <div class="item item4">
            <ul>
                <li>
                    <a href="#facebook">Facebook</a>

                </li>
                <li>
                    <a href="#Twitter">Twitter</a>

                </li>
                <li>
                    <a href="#linkedin">LinkedIn</a>
                </li>
                <li>
                    <a href="#instagram">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
@code {
    
} *@