
<footer style="display: flex;height: auto;">
    <div class="container">
        <div class="item item1" style="align-items: center;">
            <img src="https://static.wixstatic.com/media/39e339_db3c94e2ab58452bb4ce00dc4ad89063~mv2.png/v1/fill/w_214,h_54,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/zocom_logo.png"
                 style="height: 100px;width: auto;">

        </div>
        <div class="item item2" style="align-items: center; font-size: 24px;">
            <h1 style="text-align: center; font-size:x-large; font-family:Arial, Helvetica, sans-serif;">
                Birger Jarlsgatan 58, Stockholm, 11429
            </h1>
        </div>
        <div class="item item3">
            <ul>
                <li>
                    <a href="#about">Om oss</a>
                </li>
                <li>
                    <a href="#Growers">Odlarna</a>
                </li>
                <li>
                    <a href="Merchants">Handlare</a>
                </li>
                <li>
                    <a href="#Contact">Kontakt</a>
                </li>
                <li>
                    2024 Hacker Heros. Alla rättigheter <br>förbehållna.
                </li>
            </ul>
        </div>
        <div class="item item4">
            <ul>
                <li>
                    <a href="#facebook">Facebook</a>

                </li>
                <li>
                    <a href="#Twitter">Twitter</a>

                </li>
                <li>
                    <a href="#linkedin">LinkedIn</a>
                </li>
                <li>
                    <a href="#instagram">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
@code {
    
}