.card {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.card-image {
    height: 200px; /* Set a fixed height for the image container */
    position: relative;
    overflow: hidden; /* Prevents overflow of the image */
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-icons {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}

.icon-blue {
    color: blue;
    font-size: 32px;
}

.icon-black {
    color: black;
    font-size: 24px;
}

.icon-orange {
    color: orange;
    font-size: 32px;
}

.icon-green {
    color: green;
    font-size: 32px;
}

.icon-red {
    color: red;
    font-size: 25px;
}

.creation-info {
    font-size: 12px;
    text-align: center;
    padding-bottom: 1px;
}

.badge-overlay {
    position: absolute;
    font-size: 28px;
    top: 10px;  /*Adjust as needed*/ 
    right: 10px;  /*Adjust as needed*/ 
    z-index: 2;  /*Ensure it appears above the image*/ 
}
