@using CMS.Entities
@using CMS.Services
@inject VisitorCounterService VisitorCounterService

<h3>Website Visits Summary</h3>

@if (PageVisits == null)
{
<p>Loading...</p>
}
else
{
<ul>
    @foreach (var visit in PageVisits)
    {
    <li>@visit.PageUrl: @visit.VisitCount visits</li>
    }
</ul>
}

@code {
[Parameter]
public int WebSiteId { get; set; }

private IEnumerable<WebSiteVisit> PageVisits { get; set; }

protected override async Task OnInitializedAsync()
{
PageVisits = await VisitorCounterService.GetAllPageVisitsAsync(WebSiteId);
}
}
