@namespace htmltemplates.templates.InputForm
@using CMS.Components.Pages.HtmlTemplates.templates


<h3>Input Form</h3>

<div>
    <form @onsubmit="HandleSubmit">
        <div>
            <label>@LabelText1</label>
            <input type="text" @bind="inputValue1" />
        </div>
        <div>
            <label>@LabelText2</label>
            <input type="text" @bind="inputValue2" />
        </div>
        
        <BackgroundColorSelector @bind-SelectedColor="Backgroundcolor" />

        <TextColorSelector @bind-SelectedTextColor="Textcolor" />
        
        <button type="submit">Submit</button>
    </form>
</div>

@code {
    [Parameter] public string LabelText1 { get; set; } = "Enter First Text:";
    [Parameter] public string LabelText2 { get; set; } = "Enter Second Text:";
    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black"; // Add TextColor parameter
    [Parameter] public EventCallback<Dictionary<string, object>> OnSubmit { get; set; }

    private string inputValue1 = string.Empty;
    private string inputValue2 = string.Empty;

    private async Task HandleSubmit()
    {
        var formValues = new Dictionary<string, object>
        {
            { "TextInput1", inputValue1 },
            { "TextInput2", inputValue2 },
            { "Backgroundcolor", Backgroundcolor },
            { "Textcolor", Textcolor } // Include Textcolor in form submission
        };

        await OnSubmit.InvokeAsync(formValues);
    }
}

