.login-page {
    --primary-background:rgb(91, 29, 214);
    --secondary-color: white;
}

/* Add spacing below the navbar */
.login-page {
    margin-top: 80px; /* Adjust this value depending on the height of your navbar */
}

.login-page .section-color {
    background-color: var(--primary-background);
    color: var(--secondary-color);
}

.login-page .bold {
    font-weight: bold;
}

.login-page .no-underline {
    text-decoration: none;
}

.login-page .spaced-heading {
    margin-bottom: 80px;
}

.login-page .form-control.round-border {
    border-radius: 40px;
    padding: 10px;
}

.login-page .round-border {
    border-radius: 40px;
    padding: 10px;
}

.login-page .label-bold {
    font-weight: bold;
}

/* image taken from Home page for unity purpose*/
.login-page .box1 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    background: linear-gradient(to top right, #b703f3 0%, #ffd07a 35%, #ffc0fd 66%, #b703f3 100%);
    padding: 3px;
    border-radius: 12px;
    margin-right: 10px;
  }
  
.login-page .box1 h1{
    text-align: center;
    
    font-size: 130px;
    color: white;
  }

@media (max-width: 768px) {
    /* Adjust the margin for smaller screens if needed */
    .login-page {
        margin-top: 100px; /* Adjust this for mobile devices */
    }
}