@page "/"

<PageTitle>Home</PageTitle>

<div class="grid-container">
  <div class="box1">

    <h1>HACKER HEROES</h1>
    <h2>CMS</h2>
    <img src="https://via.placeholder.com/300x300" alt="Bild i Box 1">
  </div>
  <div class="box2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>

  </div>
  <div class="box3">
    <div class="box3-item">
      <h4>
        Enkelt att använda
      </h4>
    </div>
    <div class="box3-item">
      <h4>
        Anpassningsbar
      </h4>
    </div>
    <div class="box3-item">
      <h4>
        Responsiv
      </h4>
    </div>
    <div class="box3-item">
      <h4>
        Snabb
      </h4>
    </div>
    <div class="box3-item">
      <h4>
        Säker
      </h4>
    </div>
    <div class="box3-item">
      <h4>
        Integrerad
      </h4>
    </div>
  </div>
  <div class="box4">


    <!-- Stor H1-rubrik -->
    <h1 class="display-1 text-center" style="margin-top: 30px;">Boka din Demo nu!</h1>

    <!-- Mellanstor bild -->
    <div class="text-center">
      <img src="https://via.placeholder.com/300x300" alt="Demo bild" style="width:550px; height:400px;" />
    </div>

    <!-- Grön knapp med Bootstrap -->
    <div class="text-center mt-4">
      <button class="btn btn-success" style="font-size: 35px; background-color: aqua; border-radius: 12px;">Boka
        nu</button>
    </div>

    <!-- Säljande text -->
    <div class="mt-4" style="font-size: 20px;">
      <p>Upplev kraften i vårt CMS-verktyg genom att boka en gratis demo idag! Vårt system gör det enkelt för dig att
        hantera innehåll på ett intuitivt och effektivt sätt, oavsett om du driver en liten blogg eller en stor
        företagswebbplats. Få en skräddarsydd genomgång och upptäck alla funktioner som kan hjälpa dig att spara tid och
        maximera din webbplats prestanda.</p>
    </div>

  </div>
</div>


@code {

}
