@page "/"
@using CMS.Data
@using CMS.Services
@inject IGetCurrentUserService GetCurrentUserService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
  <NotAuthorized>
    
    <div class="grid-container">
      <div class="box1">

        <h1>HACKER HEROES</h1>
        <h2>CMS</h2>
        <img src="https://via.placeholder.com/300x300" alt="Bild i Box 1">
      </div>
      <div class="box2">
        <h4>Varför välja oss?</h4>
                <p>Det är viktigt att välja rätt CMS (Content Management System) för din verksamhet. Vi är övertygade
                    om att vårt CMS är det bästa för dig. Vårt CMS fokuserar på användaren. Det lättförståeliga gränssnittet
                    gör det enkelt att skapa, redigera och publicera innehåll utan att ha någon teknisk expertis. Dessutom,
                   oavsett om du driver en liten blogg eller en stor e-handelsplats, är systemet flexibelt och kan anpassas
                   till dina specifika behov.</p>

                <p>Säkerhet är avgörande för oss. Det finns inbyggda säkerhetsfunktioner i vårt CMS som skyddar ditt innehåll
                   och data från hot och intrång. Dessutom erbjuder vi omfattande support och kundservice. Vårt dedikerade team
                   är här för att hjälpa dig, oavsett vilka problem eller frågor du har.</p>

                <p>En mängd olika verktyg och plattformar kan använda vårt CMS, vilket gör det enkelt att integrera med dina
                   befintliga system och arbetsflöden. Vårt CMS kan hantera ökad trafik och innehåll utan att tappa prestandan på din webbplats.</p>


      </div>
      <div class="box3">
        <div class="box3-item">
          <h4>
            Enkelt att använda
          </h4>
        </div>
        <div class="box3-item">
          <h4>
            Anpassningsbar
          </h4>
        </div>
        <div class="box3-item">
          <h4>
            Responsiv
          </h4>
        </div>
        <div class="box3-item">
          <h4>
            Snabb
          </h4>
        </div>
        <div class="box3-item">
          <h4>
            Säker
          </h4>
        </div>
        <div class="box3-item">
          <h4>
            Integrerad
          </h4>
        </div>
      </div>


      <div class="box4">

        <!-- Stor H1-Titel -->
        <h2 class="display-1">
          Boka din Demo nu!
        </h2>

        <!-- Mellanstor bild -->
        <div class="text-center">
          <img src="https://via.placeholder.com/300x300" alt="Demo bild" />
        </div>

        <!-- Grön knapp med Bootstrap -->
        <div class="text-center mt-4">
          <button>
            Boka nu
          </button>
        </div>

        <!-- Säljande text -->
        <div class="mt-4">
                    <p>
                        Registrera dig för en gratis demo idag för att få en känsla för kraften i vårt CMS-verktyg! 
                        Oavsett om du driver en liten blogg eller en stor företagswebbplats, gör vårt system det enkelt och 
                        effektivt att hantera innehåll. Upptäck en personlig genomgång och lär dig om alla funktioner
                        som kan hjälpa dig att spara tid och förbättra din webbplats prestanda.
                    </p>
        </div>
      </div>
    </div>
  </NotAuthorized>
</AuthorizeView>


@code {

  public ApplicationUser User { get;  set; }

  protected override async Task OnInitializedAsync()
  {
    var user = await GetCurrentUserService.GetCurrentUserAsync();
    if (user != null)
    { 
      NavigationManager.NavigateTo($"/websites");
    }
    
  }
 
}
