@page "/"
@using CMS.Data
@using CMS.Services
@inject IGetCurrentUserService GetCurrentUserService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
<NotAuthorized>
<!-- BACK TO TOP BUTTON  -->
<div class="btt-button shadow-sm border border-black" id="back-to-top-btn">
    <a class="btt-link d-flex h-100" title="Back to Top">
        <span class="material-symbols-outlined">
            arrow_upward
        </span>
    </a>	
</div>

<!-- ABOUT -->
<div id="section-about">

<i class="bi bi-arrow-up-square-fill"></i>
        <i class="bi bi-arrow-up"></i>

</div>
<!-- /ABOUT -->



<!-- TEAM -->
<div id="section-team">

</div>
<!-- /TEAM -->

<!-- SERVICES -->
<div id="section-services">

</div>
<!-- /SERVICES -->

<!-- PRICES -->
<div id="section-prices">

</div>
<!-- /PRICES -->


  


    <div class="grid-container">
      <div class="box1">

        <h1>HACKER HEROES</h1>
        <h2>CMS</h2>
        <img src="https://via.placeholder.com/300x300" alt="Bild i Box 1">
      </div>




    </div>

<!-- CONTACT -->
<section class="mb-4" id="contact-section">
    <h2 class="uppercase contact-main-heading">
        <span class="material-symbols-outlined">
            mail
        </span> Kontakta oss
    </h2>
    <div class="d-flex justify-content-center">
        <hr class="w-25 mt-3">
    </div>
    <div class="d-flex justify-content-center my-4">
        <div class="text-center">
            <h4 class="contact-heading uppercase">
                Har du Frågor?
            </h4>
            <h4 class="contact-heading uppercase"> Booka Demo? </h4>
        </div>
    </div>
    <div class="form-container mx-2 mb-5">
        <div class="mt-4 text-center" id="contact-form">
            <h5>
                Skicka in förfrågan så återkommer vi till dig snart
            </h5>
            <form class="contactform" onsubmit="return sendMail(this);"
                    method="POST" action="">
                <div class="form-group">
                    <label for="name">Namn:</label>
                    <input type="text" class="form-control" id="name"
                            name="name" required
                            placeholder="Fill in ditt namn">
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email"
                            name="emailaddress" required
                            placeholder="Fill in ditt email">
                </div>
                <div class="form-group">
                    <label for="cmsquery">Din förfrågan:</label>
                     <textarea class="form-control" id="bcmsquery" name="cmsquery" rows="5" placeholder="Ange din förfrågan" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" id="submitButton"
                            class="btn-submit button btn-yellow">
                        Skicka
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /CONTACT -->
  </NotAuthorized>
</AuthorizeView>


@code {

  public ApplicationUser User { get;  set; }

  protected override async Task OnInitializedAsync()
  {
    var user = await GetCurrentUserService.GetCurrentUserAsync();
    if (user != null)
    { 
      NavigationManager.NavigateTo($"/websites");
    }
    
  }
 
}
