@page "/"

<PageTitle>Home</PageTitle>

<div class="grid-container">
  <div class="box1">
    <img src="https://via.placeholder.com/300x300" alt="Bild i Box 1">
  </div>
  <div class="box2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula purus at elit gravida, ut scelerisque
      turpis fermentum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus eaque corrupti eum quaerat quos,
      incidunt sequi eveniet culpa ut, in harum assumenda quisquam reprehenderit consequuntur velit obcaecati aliquam
      soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita officia, ea perferendis excepturi
      quia itaque non rem doloribus repellendus sint sapiente dolorum! Fugit corporis autem qui inventore esse eaque.
    </p>

  </div>
  <div class="box3">
    <div class="box3-item">Text 1</div>
    <div class="box3-item">Text 2</div>
    <div class="box3-item">Text 3</div>
    <div class="box3-item">Text 4</div>
    <div class="box3-item">Text 5</div>
    <div class="box3-item">Text 6</div>
  </div>
  <div class="box4">
    <ul>
      <li>Äpple</li>
      <li>Banan</li>
      <li>Apelsin</li>
      <li>Päron</li>
      <li>Jordgubbe</li>
    </ul>
  </div>
</div>


@code {

}
