@page "/"
@using CMS.Data
@using CMS.Services
@inject IGetCurrentUserService GetCurrentUserService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
<NotAuthorized>
<!-- BACK TO TOP BUTTON  -->
<div class="btt-button shadow-sm border border-black" id="back-to-top-btn">
    <a class="btt-link d-flex h-100" title="Back to Top">
        <span class="material-symbols-outlined">
            arrow_upward
        </span>
    </a>	
</div>
<!--HOW IT WORKS / ABOUT SECTION-->
<section id="about-section-wrapper">
    <div class=" d-flex justify-content-center">
        <div class="about-heading-wrapper text-center mb-md-5">
            <h2 class="uppercase primary-heading mb-0">
                <span class="material-symbols-outlined">question_mark</span>
                Hur fungerar det
            </h2>
        </div>
    </div>
    <!--Instructions for using the website-->
    <div class="row mb-5 about-heading-mobile-center">
        <div class="col-12 mb-5 col-lg-6 planning-images-container">
            <img src="/images/landingPage.png" alt="Planning image" class="img-fluid d-none d-md-block planning-image">
            <img src="/images/landingPage2.png" alt="Planning image2"  class="img-fluid d-none d-md-block planning-image planning-image-2">
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center flex-column">
            <h3 class="about-heading">
                    Planera det själv
                </h3>
            <img src="/images/landingPage2.png" alt="Planera det själv" class="img-fluid d-block my-3 d-md-none about-mobile-only-image">
            <p class="about-paragraphs shadow-lg p-4 mb-5 rounded-lg">
                    Välkommen till vårt innehållshanteringssystem (CMS) som hjälper dig att enkelt skapa och hantera din webbplats.<br />
                    Systemet är användarvänligt och kräver ingen avancerad teknisk kunskap.Du kan skapa menyer, redigera sidor och följa besöksstatistik direkt via adminpanelen.<br />
                    Dessutom erbjuder vi en responsiv design som fungerar lika bra på mobil som på dator.<br />
                        &rarr;&nbsp;Skapa ett admin-konto: Börja med att registrera dig och logga in som admin. Detta ger dig full tillgång till att skapa och hantera ditt innehåll.<br />
                        &rarr;&nbsp;Skapa och redigera menyer: Använd adminpanelen för att bygga menyer. Här kan du enkelt lägga till och radera menyalternativ för att anpassa din webbplats.<br />
                        &rarr;&nbsp;Lägg till innehåll: Skapa sidor genom att lägga till rubriker, text, bilder och länkar. Du kan även formatera text och lägga till innehåll på olika delar av sidan, som i huvudområdet, vänsterkolumnen eller footern.
            </p>
        </div>
    </div>




    </div>

<!-- CONTACT -->
<section class="mb-4" id="contact-section">
    <h2 class="uppercase contact-main-heading">
        <span class="material-symbols-outlined">
            mail
        </span> Kontakta oss
    </h2>
    <div class="d-flex justify-content-center">
        <hr class="w-25 mt-3">
    </div>
    <div class="d-flex justify-content-center my-4">
        <div class="text-center">
            <h4 class="contact-heading uppercase">
                Har du Frågor?
            </h4>
            <h4 class="contact-heading uppercase"> Booka Demo? </h4>
        </div>
    </div>
    <div class="form-container mx-2 mb-5">
        <div class="mt-4 text-center" id="contact-form">
            <h5>
                Skicka in förfrågan så återkommer vi till dig snart
            </h5>
            <form class="contactform" onsubmit="return sendMail(this);"
                    method="POST" action="">
                <div class="form-group">
                    <label for="name">Namn:</label>
                    <input type="text" class="form-control" id="name"
                            name="name" required
                            placeholder="Fill in ditt namn">
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email"
                            name="emailaddress" required
                            placeholder="Fill in ditt email">
                </div>
                <div class="form-group">
                    <label for="cmsquery">Din förfrågan:</label>
                     <textarea class="form-control" id="bcmsquery" name="cmsquery" rows="5" placeholder="Ange din förfrågan" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" id="submitButton"
                            class="btn-submit button btn-yellow">
                        Skicka
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /CONTACT -->
  </NotAuthorized>
</AuthorizeView>


@code {

  public ApplicationUser User { get;  set; }

  protected override async Task OnInitializedAsync()
  {
    var user = await GetCurrentUserService.GetCurrentUserAsync();
    if (user != null)
    { 
      NavigationManager.NavigateTo($"/websites");
    }
    
  }
 
}
