@using CMS.Components.BlazorComponents.HtmlTemplates

@namespace BlazorComponents.HtmlTemplates.InputFormsForTemplates
@inject IGetCurrentUserService GetCurrentUserService
@inherits BaseTemplateComponent //gets the base parameters we have in every template/inputform

<div>
    <form @onsubmit="HandleSubmit">
        <div>
            <label>@LabelText1</label>
            <input type="text" @bind="inputValue1" />
        </div>
        <!--Color Controls -->
        <label>Background Color:</label>
        <input type="color" @bind="Backgroundcolor" />
        <br>
        <label>Text Color:</label>
        <input type="color" @bind="Textcolor" />
        <button type="submit">Submit</button>
    </form>
</div>

@code {

    [Parameter] public string LabelText1 { get; set; } = "Första texten:";
    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black"; // Add TextColor parameter

    private bool hasSaved = false; // Flag to track if save has been executed
    [Parameter] public bool SaveBtnClicked { get; set; } // New parameter to handle save button state
    [Parameter] public bool MultiPageMode { get; set; } // Receive MultiPageMode parameter

    // protected override void OnParametersSet()
    // {
    //     if (SaveBtnClicked && !hasSaved) // Check if SaveBtnClicked and save hasn't been executed yet
    //     {
    //         SaveToDatabase(); // Call the save method
    //         hasSaved = true; // Set the flag to prevent further saves
    //     }
    // }

    private string inputValue1 = string.Empty;
    private string inputValue2 = string.Empty;



    private async Task HandleSubmit()
    {
        var formValues = new Dictionary<string, object>
        {
            { "TextInput1", inputValue1 },
            { "Backgroundcolor", Backgroundcolor },
            { "TextColor", Textcolor } // Include TextColor in form submission
        };

        await OnSubmit.InvokeAsync(formValues);
    }
}

