@using CMS.Components.BlazorComponents.HtmlTemplates
@using CMS.Data
@using CMS.Entities
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
@using System.Threading.Tasks
@inject IGetCurrentUserService GetCurrentUserService
@inject IContentService ContentService
@namespace BlazorComponents.HtmlTemplates.InputFormsForTemplates
@inherits BaseVideoTemplate //gets the base parameters we have in every template/inputform

<style>
    .form-row {
        display: flex;
        align-items: center; /* Align items vertically */
        margin-bottom: 10px; /* Space between rows */
    }

    label {
        flex: 1; /* Take up left column */
        text-align: right; /* Align text to the right */
        margin-right: 10px; /* Space between label and input */
    }

    input, select {
        flex: 2; /* Take up right column */
        padding: 5px; /* Padding for input */
        border: 1px solid #ccc; /* Border for input */
        border-radius: 4px; /* Rounded corners */
    }
</style>

<h3>Single Video Input Form</h3>

<div>
    <form>
        <div class="form-row">
            <label>Namn</label>
            <input type="text" @bind="ContentName" placeholder="Namn" />
        </div>

        <div class="form-row">
            <label>Video URL</label>
            <input type="text" @bind="VideoUrl" placeholder="Video URL" />
        </div>

        <div class="form-row">
            <label>Video bredd (px or %):</label>
            <input type="text" @bind="VideoWidth" placeholder="ex., 100% eller 500px" />
        </div>

        <div class="form-row">
            <label>Video höjd (px or %):</label>
            <input type="text" @bind="VideoHeight" placeholder="ex., auto eller 300px" />
        </div>

        <div class="form-row">
            <label>Position:</label>
            <select @bind="VideoAlignment">
                <option value="left">Vänster</option>
                <option value="center">Centrerad</option>
                <option value="right">Höger</option>
            </select>
        </div>


        <div style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-info" @onclick="PreviewImage">Förhandsgranska</button>
            @if (!MultiPageMode) // Show button only if not in multi-page mode
            {
                <button type="button" class="btn btn-outline-primary" @onclick="SaveToDatabase">Spara</button>
            }
        </div>
    </form>

    <!-- Success message -->
    @if (saveSuccessful)
    {
        <div class="alert alert-success" role="alert" style="margin-top: 20px;">
            Video sparad.
        </div>
    }

</div>
     
