@using CMS.Components.BlazorComponents.HtmlTemplates
@using CMS.Data
@using CMS.Entities
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
@using System.Threading.Tasks
@inject IGetCurrentUserService GetCurrentUserService
@inject IContentService ContentService
@namespace BlazorComponents.HtmlTemplates.InputFormsForTemplates
@inherits BaseVideoTemplate //gets the base parameters we have in every template/inputform

<h3>Single Video Input Form</h3>

<div>
    <form>
        <div>
            <label>Content Name</label>
            <input type="text" @bind="ContentName" placeholder="Enter name for content" />

            <!-- Video URL Input -->
            <label>Video URL</label>
            <input type="text" @bind="VideoUrl" placeholder="Enter Video URL" />

            <!-- Video Size Controls -->
            <label>Video Width (px or %):</label>
            <input type="text" @bind="VideoWidth" placeholder="e.g., 100% or 500px" />

            <label>Video Height (px or %):</label>
            <input type="text" @bind="VideoHeight" placeholder="e.g., auto or 300px" />

            <!-- Video Alignment Controls -->
            <label>Video Alignment:</label>
            <select @bind="VideoAlignment">
                <option value="left">Left</option>
                <option value="center">Center</option>
                <option value="right">Right</option>
            </select>

        </div>


        <div style="margin-top: 10px;">
            <button type="button" @onclick="PreviewImage">PreviewImage</button>
            @if (!MultiPageMode) // Show button only if not in multi-page mode
            {
                <button type="button" @onclick="SaveToDatabase">Save To Database</button>
            }
        </div>
    </form>

    <!-- Success message -->
    @if (saveSuccessful)
    {
        <div class="alert alert-success" role="alert" style="margin-top: 20px;">
            Content saved successfully!
            <a href="/contents?webpageid=@WebPageId" class="alert-link">Click here to view all contents.</a>
        </div>
    }

</div>
     
