@namespace Templates.SingleInput

<h3>Template 2</h3>

<footer style="background-color:@Backgroundcolor; color:@Textcolor;">
    <div class="container text-center">
        <p class="mb-0">@TextInput</p>
    </div>
</footer>

@code {
    [Parameter] public int TemplateId { get; set; } // Receive the TemplateId
    [Parameter] public int WebPageId { get; set; } // Receive WebPageId from parameters

    [Parameter] public string TextInput { get; set; } = "Default FooterText for Template 2";
    [Parameter] public string Backgroundcolor { get; set; } = "yellow"; // Default color
    [Parameter] public string Textcolor { get; set; } = "black"; // Add Textcolor parameter
}
