@namespace htmltemplates.templates.SingleInput

<h3>Template 2</h3>

<footer style="background-color:@BackgroundColor;">
    <div class="container text-center">
        <p class="mb-0">@TextInput</p>
    </div>
</footer>

@code {
    [Parameter] public string TextInput { get; set; } = "Default FooterText for Template 2";
    [Parameter] public string BackgroundColor { get; set; } = "yellow"; // Default color
}
