@page "/webpages/create"
@using CMS.Shared
@attribute [Authorize]
@inject IGetCurrentUserService GetCurrentUserService
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Skapa webbsida</PageTitle>

<Breadcrumbs Crumbs="@(new List<(string, string)> 
    { 
        ("Hem", "/"), 
        //("Websites", "/websites"),
        ("Webbsidor", $"/webpages?websiteid={WebSiteId}"),
        ("Skapa webbsida", $"/webpages/create?websiteid={WebSiteId}")
    })" />

<h1>Skapa webbsida</h1>

<h4>Webbsida</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <EditForm method="post" Model="WebPage" OnValidSubmit="AddWebPage" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="title" class="form-label">Titel:</label>
                @* @blur var något jag inte visste om innan https://www.w3schools.com/jsref/event_onblur.asp bör vi nog lägga in i fler checks*@
                <InputText id="title" @bind-Value="WebPage.Title" class="form-control" @onblur="CheckIfTitleExists" />
                <ValidationMessage For="() => WebPage.Title" class="text-danger" />
                @if (!string.IsNullOrEmpty(TitleErrorMessage))
                {
                    <div class="text-danger">@TitleErrorMessage</div>
                }
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Beskrivning:</label>
                <InputText id="description" @bind-Value="WebPage.Description" class="form-control" />
                <ValidationMessage For="() => WebPage.Description" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="visitor-url" class="form-label">Besöks Url:</label>
                <InputText id="visitor-url" @bind-Value="WebPage.VisitorUrl" class="form-control" />
                <ValidationMessage For="() => WebPage.VisitorUrl" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="creationdate" class="form-label">Skapad:</label>
                <InputDate id="creationdate" @bind-Value="WebPage.CreationDate" class="form-control" readonly />
                <ValidationMessage For="() => WebPage.CreationDate" class="text-danger" />
            </div>

            @* Så länge titlen inte är unik(för webbsiten) så är Skapa-knappen disabled *@
            <button type="submit" class="btn btn-primary" disabled="@TitleExists">Skapa</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/webpages">Tillbaka</a>
</div>

@code {

    [SupplyParameterFromForm]
    public WebPage WebPage { get; set; } = new();

    [SupplyParameterFromQuery]
    public int WebSiteId { get; set; }

    public string UserId { get; set; }
    private bool TitleExists { get; set; } = false;
    private string TitleErrorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var user = await GetCurrentUserService.GetCurrentUserAsync();
        this.UserId = user.Id;
    }

    private async Task CheckIfTitleExists()
    {
        using var context = DbFactory.CreateDbContext();
        // Gör en lookup om websiteId redan har en webpage med inmatad titel
        var existingWebPageTitle = await context.WebPages.FirstOrDefaultAsync(t => t.Title == WebPage.Title && t.WebSiteId == WebSiteId);

        TitleExists = existingWebPageTitle != null;
        // Om !string.IsNullOrEmpty är true så visas alltid ett errormsg, så när titeln är godkänd måste en tom sträng visas
        TitleErrorMessage = TitleExists
            ? "Webbsiten har redan en webbsida med denna titeln."
            : string.Empty;
    }

    public async Task AddWebPage()
    {
        await CheckIfTitleExists();

        if (!TitleExists)
        {
            var user = await GetCurrentUserService.GetCurrentUserAsync();

            WebPage.WebSiteId = WebSiteId;

            using var context = DbFactory.CreateDbContext();
            WebPage.UserId = user.Id;

            context.WebPages.Add(WebPage);
            await context.SaveChangesAsync();
            NavigationManager.NavigateTo($"/webpages/editwebpage?webpageid={WebPage.WebPageId}");
        }
    }
}
