@page "/webpages/create"
@attribute [Authorize]
@rendermode InteractiveServer

@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Skapa webbsida</PageTitle>

<h1>Skapa</h1>

<h4>Webbsida</h4>
<hr />
<div class="row"> 
    <div class="col-md-10">
        <EditForm method="post" Model="WebPage" OnValidSubmit="AddWebPage" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="header" class="form-label">Rubrik:</label> 
                <InputText id="header" @bind-Value="WebPage.Header" class="form-control" /> 
                <ValidationMessage For="() => WebPage.Header" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Bild:</label>
                <InputText id="image" @bind-Value="WebPage.ImageUrl" class="form-control" />
                <ValidationMessage For="() => WebPage.ImageUrl" class="text-danger" />
            </div>
            <div class="mb-3">

                <MarkdownEditor @bind-Value="@WebPage.Body"
                                SpellChecker="false">
                    <Toolbar>
                        <MarkdownToolbarButton Action="MarkdownAction.Bold" Icon="fa fa-bold" Title="Fetstil" />
                        <MarkdownToolbarButton Action="MarkdownAction.Italic" Icon="fa fa-italic" Title="Kursiv" />
                        <MarkdownToolbarButton Action="MarkdownAction.Code" Icon="fa fa-code" Title="Kod" />
                        <MarkdownToolbarButton Action="MarkdownAction.Heading" Icon="fa fa-header" Title="Rubrik" />
                        <MarkdownToolbarButton Action="MarkdownAction.UnorderedList" Icon="fa fa-list-ul" Title="Osorterad Lista" />
                        <MarkdownToolbarButton Action="MarkdownAction.OrderedList" Icon="fa fa-list-ol" Title="Numrerad Lista" />
                    </Toolbar>
                </MarkdownEditor>
                <ValidationMessage For="() => WebPage.Body" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="footer" class="form-label">Underrubrik:</label> 
                <InputText id="footer" @bind-Value="WebPage.Footer" class="form-control" /> 
                <ValidationMessage For="() => WebPage.Footer" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Skapa</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/webpages">Tillbaka</a>
</div>

@code {

    [SupplyParameterFromForm]
    public WebPage WebPage { get; set; } = new();

    //[SupplyParameterFromQuery]
    //public int WebsiteId { get; set; }

    //protected override void OnInitialized()
    //{
        // Set the WebPage's WebsiteId to the passed-in parameter
        //WebPage.WebSiteId = WebsiteId;
    //}


    [SupplyParameterFromQuery]
    public int WebSiteId { get; set; }
    

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddWebPage()
    {
        WebPage.WebSiteId = WebSiteId;
        
        using var context = DbFactory.CreateDbContext();
        context.WebPages.Add(WebPage);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/webpages/createmulti?webpageid={WebPage.WebPageId}");
        
        //NavigationManager.NavigateTo($"webpages/details?WebPageId={WebPage.WebPageId}");
    }
    
}