@page "/webpages/previewpage/{webPageId:int}"
@using CMS.Data
@using CMS.Models
@using CMS.Entities
@using CMS.Services
@using System.Text.Json
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject VisitorCounterService VisitorCounterService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Förhandsgranskning Webbsida</h3>

@if (contentList == null)
{
    <p>Laddar...</p>
}
else if (contentList.Count == 0)
{
    <p>Inget innehåll tillgängligt för denna webbsida.</p>
}
else
{
    @foreach (var content in contentList)
    {
        <div class="content-preview">
            <CMS.Components.Pages.ContentPages.ContentPreview ContentId="@content.ContentId" />
        </div>
    }
}

<p>Denna sida har besökts @VisitCount gånger.</p>

@code {
    [Parameter] public int WebPageId { get; set; }

    private List<Content> contentList;
    private int VisitCount { get; set; }
    private string CurrentPageUrl => NavigationManager.Uri;
    private int WebSiteId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = DbContextFactory.CreateDbContext();

        contentList = await dbContext.Contents
                                     .Where(c => c.WebPageId == WebPageId)
                                     .ToListAsync();

        // Get the WebSiteId associated with this WebPage
        var webPage = await dbContext.WebPages.FirstOrDefaultAsync(wp => wp.WebPageId == WebPageId);
        if (webPage != null)
        {
            WebSiteId = webPage.WebSiteId;

            // Check if the user is logged in
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (!user.Identity.IsAuthenticated)
            {
                // Only increment the visit count if the user is not logged in
                await VisitorCounterService.IncrementPageVisitAsync(WebSiteId, CurrentPageUrl);
            }

            // Get the updated visit count for this page
            VisitCount = await VisitorCounterService.GetPageVisitCountAsync(WebSiteId, CurrentPageUrl);
        }
    }
}



