@namespace BlazorComponents.HtmlTemplates.TemplatesForComponents
@using CMS.Components.BlazorComponents.HtmlTemplates
@inherits BaseHeaderTemplate //gets the base parameters we have in every template/inputform

<footer class="text-white py-4" style="background-color:@BackgroundColor;">
    <div class="container">
        <div class="text-center mb-3 mb-md-0" style="color:@TextColor;">
            <h1 class="d-block">@TextInput1</h1>
            <h2 class="d-block">@TextInput2</h2>
        </div>
    </div>
</footer>
