@namespace BlazorComponents.HtmlTemplates.TemplatesForComponents

<div class="card mb-3">
    <img class="card-img-top" src=@ImageInput1 alt="Card image cap" style="max-width: 100%; height: auto; width: 100%; max-height: 400px; object-fit: cover;">
    <div class="card-body">
        <h5 class="card-title">@CardTitle</h5>
        <p class="card-text">@CardText1</p>
        <p class="card-text"><small class="text-muted">@CardText2</small></p>
    </div>
</div>

@code {
    [Parameter] public int TemplateId { get; set; }
    [Parameter] public int WebPageId { get; set; } // Receive WebPageId from parameters

    // all parameters the user must fill in
    [Parameter] public string ContentName { get; set; } = string.Empty;

    [Parameter] public string ImageInput1 { get; set; }
    [Parameter] public string CardTitle { get; set; } = "CardTitle";
    [Parameter] public string CardText1 { get; set; } = "CardText1";
    [Parameter] public string CardText2 { get; set; } = "CardText2";

    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black";
}
