@namespace BlazorComponents.HtmlTemplates.TemplatesForComponents
@using CMS.Components.BlazorComponents.HtmlTemplates
@inherits BaseImageTemplate //gets the base parameters we have in every template/inputform

<div class="image-container" style="background-color: @BackgroundColor; padding: 10px; box-shadow: @BoxShadow; text-align:@ImageAlignment;">
    <img src="@ImageInput" class="custom-image" 
    style="
            width: @ImageWidth; 
            height: @ImageHeight; 
            border-radius: @(BorderRadius.ToString(System.Globalization.CultureInfo.InvariantCulture) + "px");
            border: @(BorderWidth.ToString(System.Globalization.CultureInfo.InvariantCulture) + "px solid " + BorderColor);
" />
</div>
