@namespace BlazorComponents.HtmlTemplates.TemplatesForComponents
@using CMS.Components.BlazorComponents.HtmlTemplates
@inherits BaseLinkTemplate //gets the base parameters we have in every template/inputform

@* <h3>Link Template</h3> *@

            <a href="@TextInput2">@TextInput1</a>     
