@namespace HtmlTemplates.TemplatesForComponents

@* Background color and text color are not yet implemented.
 *@
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:20px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaris" aria-controls="navbaris" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbaris">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="@TextInput2">
                    @TextInput1
                </NavLink>
               
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@TextInput4">
                    @TextInput3
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="@TextInput6">
                    @TextInput5
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="@TextInput8">
                    @TextInput7
                </NavLink>
            </li>
        </ul>
    </div>
</nav>


@code {
    [Parameter] public int TemplateId { get; set; }
    [Parameter] public int WebPageId { get; set; } // Receive WebPageId from parameters
    [Parameter] public string ContentName { get; set; } = string.Empty;
    [Parameter] public string TextInput1 { get; set; } = "Meny Item 1";
    [Parameter] public string TextInput2 { get; set; } = "Meny URL 1";
    [Parameter] public string TextInput3 { get; set; } = "Meny Item 2";
    [Parameter] public string TextInput4 { get; set; } = "Meny URL 2";
    [Parameter] public string TextInput5 { get; set; } = "Meny Item 3";
    [Parameter] public string TextInput6 { get; set; } = "Meny URL 3";
    [Parameter] public string TextInput7 { get; set; } = "Meny Item 3";
    [Parameter] public string TextInput8 { get; set; } = "Meny URL 3";
    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black"; 
}
