@namespace BlazorComponents.HtmlTemplates.TemplatesForComponents
@using CMS.Components.BlazorComponents.HtmlTemplates
@inherits BaseTextTemplateMarkdown //gets the base parameters we have in every template/inputform

<div>
    <!-- Markdown Preview -->
    <div class="markdown-preview">
        @((MarkupString)ConvertMarkdownToHtml(MarkdownContent))
    </div>
</div>

@code {

    // Convert Markdown to HTML
    private string ConvertMarkdownToHtml(string markdown)
    {
        return Markdig.Markdown.ToHtml(markdown); // Using the Markdig library for parsing
    }
}
