@namespace BlazorComponents.HtmlTemplates.TemplatesForComponents
@using CMS.Components.BlazorComponents.HtmlTemplates
@inherits BaseTextTemplateQuill //gets the base parameters we have in every template/inputform
<div>
    <!-- Quill Content Preview -->
    <div class="quill-preview">
        @((MarkupString)QuillContent)
    </div>
</div>

@* Centering doesn't seem to work so this is included here for now*@
<style>
    .ql-align-center {
        text-align: center; /* Override to ensure centering */
    }

    .ql-align-right {
        text-align: right;
    }

    .ql-align-justify {
        text-align: justify;
    }
</style>