@page "/webpages"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Entities
@using CMS.Data
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="webpages/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.WebPages">
    <PropertyColumn Property="webpage => webpage.WebSiteId" />
    <PropertyColumn Property="webpage => webpage.Header" />
    <PropertyColumn Property="webpage => webpage.Body" />
    <PropertyColumn Property="webpage => webpage.Footer" />

    <TemplateColumn Context="webpage">
        <a href="@($"webpages/edit?webpageid={webpage.WebPageId}")">Edit</a> |
        <a href="@($"webpages/details?webpageid={webpage.WebPageId}")">Details</a> |
        <a href="@($"webpages/delete?webpageid={webpage.WebPageId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
