@page "/WebSites/edit"

@using Microsoft.EntityFrameworkCore
@using CMS.Entities
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>WebSite</h4>
<hr />
@if (WebSite is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="WebSite" OnValidSubmit="UpdateWebSite" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="WebSite.WebSiteId" value="@WebSite.WebSiteId" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="WebSite.Title" class="form-control" />
                    <ValidationMessage For="() => WebSite.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="WebSite.Description" class="form-control" />
                    <ValidationMessage For="() => WebSite.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="creationdate" class="form-label">CreationDate:</label>
                    <InputDate id="creationdate" @bind-Value="WebSite.CreationDate" class="form-control" />
                    <ValidationMessage For="() => WebSite.CreationDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastupdated" class="form-label">LastUpdated:</label>
                    <InputDate id="lastupdated" @bind-Value="WebSite.LastUpdated" class="form-control" />
                    <ValidationMessage For="() => WebSite.LastUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="WebSite.UserId" class="form-control" />
                    <ValidationMessage For="() => WebSite.UserId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/websites">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int WebSiteId { get; set; }

    [SupplyParameterFromForm]
    public WebSite? WebSite { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        WebSite ??= await context.Websites.FirstOrDefaultAsync(m => m.WebSiteId == WebSiteId);

        if (WebSite is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateWebSite()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(WebSite!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!WebSiteExists(WebSite!.WebSiteId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/websites");
    }

    bool WebSiteExists(int websiteid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Websites.Any(e => e.WebSiteId == websiteid);
    }
}
