@page "/websites"

@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Data
@inject IGetCurrentUserService GetCurrentUserService
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="websites/create">Create New</a>
</p>
@if(UserId != null) {
    
<QuickGrid Class="table" Items="context.WebSites.Where(w => w.UserId == UserId)">
    <PropertyColumn Property="website => website.Title" />
    <PropertyColumn Property="website => website.Description" />
    <PropertyColumn Property="website => website.CreationDate" />
    <PropertyColumn Property="website => website.LastUpdated" />

    <TemplateColumn Context="website">
        <a href="@($"websites/edit?websiteid={website.WebSiteId}")">Edit</a> |
        <a href="@($"websites/details?websiteid={website.WebSiteId}")">Details</a> |
        <a href="@($"websites/delete?websiteid={website.WebSiteId}")">Delete</a>  |
        <a href="@($"/webpages/create?websiteid={website.WebSiteId}")">Add Page</a>
    </TemplateColumn>
</QuickGrid>

}

@code {
    
    public string UserId { get; set; }
    
    ApplicationDbContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await GetCurrentUserService.GetCurrentUserAsync();
        this.UserId = user.Id;
        context = DbFactory.CreateDbContext();

    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
