@page "/websites"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Entities
@using CMS.Data
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="websites/create">Create New</a>
</p>
@if(UserId != null) {
    
<QuickGrid Class="table" Items="context.WebSites.Where(w => w.UserId == UserId)">
    <PropertyColumn Property="website => website.Title" />
    <PropertyColumn Property="website => website.Description" />
    <PropertyColumn Property="website => website.CreationDate" />
    <PropertyColumn Property="website => website.LastUpdated" />
    <PropertyColumn Property="website => website.UserId" />

    <TemplateColumn Context="website">
        <a href="@($"websites/edit?websiteid={website.WebSiteId}")">Edit</a> |
        <a href="@($"websites/details?websiteid={website.WebSiteId}")">Details</a> |
        <a href="@($"websites/delete?websiteid={website.WebSiteId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

}

@code {
    
    [SupplyParameterFromQuery]
    public string UserId { get; set; }
    
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
