@page "/websites"
@attribute [Authorize]

@using CMS.Data
@inject IGetCurrentUserService GetCurrentUserService
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject VisitorCounterService VisitorCounterService

<PageTitle>Mina webbsites</PageTitle>

<h3>Mina webbsites</h3>

<p>
    <a href="websites/create">Skapa ny webbsite</a>
</p>

@if (UserId != null && WebSitesWithVisits != null)
{
    <div class="flex-container" style="display:flex; flex-wrap: nowrap;">
        @foreach (var website in WebSitesWithVisits)
        {
            <WebSiteCard WebSite="@website.WebSite" VisitCount="@website.VisitCount" />
        }
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    public string UserId { get; set; }
    ApplicationDbContext context = default!;
    private List<WebSiteWithVisitCount> WebSitesWithVisits = new();

    protected override async Task OnInitializedAsync()
    {
        var user = await GetCurrentUserService.GetCurrentUserAsync();
        if (user != null)
        {
            UserId = user.Id;

            context = DbFactory.CreateDbContext();

            var userWebSites = await context.WebSites
                .Include(w => w.WebPages)
                .Where(w => w.UserId == UserId)
                .ToListAsync();

            // Loop to add the VisitCount to the WebSiteWithVisitCount object, done once for each website belonging to a specific UserId. Admin implementation has to wait
            foreach (var website in userWebSites)
            {
                // Get all visits for the website
                var visits = await VisitorCounterService.GetAllPageVisitsAsync(website.WebSiteId);

                // Sum the VisitCount from the WebSiteVisit collection
                var totalVisitCount = visits.Sum(v => v.VisitCount);

                WebSitesWithVisits.Add(new WebSiteWithVisitCount
                {
                    WebSite = website,
                    VisitCount = totalVisitCount
                });
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
        await context.DisposeAsync();
    }

    private class WebSiteWithVisitCount
    {
        public WebSite WebSite { get; set; }
        public int VisitCount { get; set; }
    }
}
