@page "/websites"
@attribute [Authorize]

@using CMS.Shared
@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Data

@inject IGetCurrentUserService GetCurrentUserService
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

@implements IAsyncDisposable

<PageTitle>Mina webbsites</PageTitle>

<h3>Mina webbsites</h3>

<p>
    <a href="websites/create">Skapa ny webbsite</a>
</p>
@if (UserId != null)
{
    <div class="flex-container" style="display:flex; flex-wrap: wrap; "> 
    @foreach (var website in context.WebSites.Include(w=> w.WebPages).Where(w => w.UserId == UserId))
    {
        <WebSiteCard WebSite="@website"/>
    }
    </div>
}

    
@code {

    public string UserId { get; set; }

    ApplicationDbContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await GetCurrentUserService.GetCurrentUserAsync();
        if (user != null)
        {
            UserId = user.Id;
        }

        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync()
    {
        await context.DisposeAsync();
    }

}