@using Microsoft.AspNetCore.Components.Routing

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var crumb in crumbs)

        {
            <li class="breadcrumb-item @(crumb == crumbs.Last() ? "active" : "")">
                @if (crumb != crumbs.Last())

                {
                    <NavLink href="@crumb.Url">@crumb.Text</NavLink>
                }

                else

                {
                    @crumb.Text
                }
            </li>
        }
    </ol>
</nav>

@code {
    [Parameter] public List<(string Text, string Url)> crumbs { get; set; } = new List<(string, string)>();
}
